@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <head>
        <title>JavaSript Data Types</title>
        <style>
            button{
                padding: 10px;
            }
            .redButton{
                background : #FD8473;
            }
            .greenButton{
                background : #ACEAAC
            }
        </style>
    </head>
    <body>
    <button id="button1" class="btn greenButton" name="testButton">Click me!</button>
    <button name="testButton2" class="greenButton">Click me!</button>
    <button class="btn greenButton" name="testButton2">Click me!</button>
    <button name="testButton2" class="greenButton">Click me!</button>
    <button class="btn greenButton" name="testButton2">Click me!</button>
    <button name="testButton2" class="greenButton">Click me!</button>
    <button class="btn greenButton" name="testButton6">Click me!</button>

    <table id="sampleTable">
        <thead>
            <tr>
                <td>
                    Button Name
                </td>
                <td>
                    Clicked On
                </td>
            </tr>
        </thead>
    </table>

        <script src="/javascript.js"></script>
    </body>
</html>