@model GymManager.Web.Models.MembershipTypeListViewModel

@{
    DateTime now = DateTime.Now;
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1>Welcome to Gym Manager</h1>
    <div class="row">
        <div class="col-6">
        </div>
        <div class="col-6">
            <a asp-action="Create" class="btn btn-outline-success float-end">Add Membership Type</a>
        </div>
    </div>

    @await Html.PartialAsync("/Views/Shared/_MembershipTypeList.cshtml", Model.MembershipTypes)
</div>
