@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Server side</h1>
<table class="table">
    @foreach(var f in Model.weatherForecasts)
    {
        <tr>
        <td>@f.Date</td>
        <td>@f.Summary</td>
        <td>@f.TemperatureC</td>
        <td>@f.TemperatureF</td>
        </tr>
    }
</table>
<h1>Client side</h1>
<table class ="table" id="clientTable">

</table>
@section Scripts
{
    <script>
        $.get("https://localhost:44321/WeatherForecast", function (data, status) {
            alert("Data: " + data + "\nStatus: " + status);
        });
    </script>
}